* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: $default;
    font-family: $font;
    line-height: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    @include font-size();
    min-height: 100%;
    position: relative;
}

main {
    flex-grow: 1;
}
