@use "settings" as *;

:root {
    --page-width: 128rem;
    
    --grid-margins: 2rem;
    --grid-cols: 6;

    @media screen and ($bp-md) {
        --grid-margins: 4rem;
        --grid-cols: 12;
    }
}


* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: $default;
    font-family: $font;
    line-height: 1;

    // Remove the scrollbar and make body overflow hidden when certain classes are applied
    &[class*='oc-'] {
        height: 100%;
        overflow: hidden;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    @include font-size();
    min-height: 100%;
    position: relative;
}

main {
    flex-grow: 1;
}


// Any element that appears of the page on load, hide it right away to make sure
// we don't see it flash and transition away.
.video {
    display: none;
}