@use "settings" as *;

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0; 
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none; 
}

::-webkit-input-placeholder { color: #999; font-family: var(--font); }
::-ms-input-placeholder { color: #999; font-family: var(--font); }
::placeholder { color: #999; font-family: var(--font); }


// Form 
form {
    position: relative;
    width: 100%;
}


// Label
label {
    display: block;
    @include font-size(16,24,-0.4);
}


// Input elements
button,
input,
textarea,
select {
    background: none;
    border: none;
    border-radius: 0;
    color: $default;
    display: block;
    font-family: $font;
    @include font-size();
    font-weight: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;

    &:-webkit-autofill {
        -webkit-background-clip: text;
    }
}


// Button
button {
    cursor: pointer;
    text-align: left;

    &:focus-visible {
        outline: solid;
    }
}


// Input
input[type=text],
input[type=tel],
input[type=email],
input[type=number],
input[type=search] {
    border: 1px solid #000;
    border-radius: 0;
    height: 4.2rem;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
}


// Textarea
textarea {
    border: 1px solid #000;
    height: 16rem;
    padding: 2rem;
    width: 100%;
}
