.filters {
    display: flex;

}


// Filter
.filter {
    ul {
        display: none;

    }

    // Active
    &.is-active {
        ul {
            display: block;
        }
    }
}

.filter__selected {
    cursor: pointer;
    padding: 1rem 2rem;
}