.is-loading {
    height: 400px;
    position: relative;
    
    &:before,
    &:after {
        content: '';
        position: absolute;
    }

    &:before {
        background-color: rgba( 255,255,255,0.7 );
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

    }

    &:after {
        animation: spin 1s linear infinite;
        border: 0.2rem solid rgba(0,0,0,0.2);
        border-top-color: black;
        border-right-color: black;
        border-bottom-color: black;
        border-radius: 50%;
        display: block;
        margin-top: -20px;
        width: 40px;
        height: 40px;
        top: 50%;
        left: 50%;

    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(540deg);
    }
}