.pagination {
    ul {
        align-items: center;
        display: flex;

    }

    a {
        display: block;
        padding: 1rem 1rem;

        // Active
        &:hover, &:focus, &:active, &.is-active {
            background-color: black;
            color: white;

        }
    }
}

.pagination__arrow {

    // Disabled
    &.is-disabled {
        opacity: 0.2;
        pointer-events: none;

    }
}