.tabs {
    ul {
        display: flex;

    }

    a {
        display: block;
        padding: 1rem 2rem;

        &:hover, &:focus, &:active, &.is-active {
            background-color: black;
            color: white;

        }
    }
}