.cookies {
    backface-visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    color: white;
    @include font-size( 18,28 );
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    visibility: visible;
    z-index: 10;

    &--hide {
        display: none;

    }
}


// Cookies Wrapper
// ------------------------------------------------------
.cookies__wrapper {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}


// Cookies Notice
// ------------------------------------------------------
.cookie-notice {
    padding: em(40) 0;

    .row {
        align-items: center;

    }
}

.cookie-notice__text {
    margin-bottom: 2rem;

    @media screen and ($bp-lg) {
        margin-bottom: 0;
        
    }

    a {
        text-decoration: underline;

    }
}


// Nav
.cookie-notice__nav {
    @include font-size( 14,18 );
    margin-left: auto;
    
    @media screen and ($bp-lg) {
        display: flex;
        flex-flow: wrap;
        justify-content: center;

    }
    
    .cookie-btn:not(:first-child) {
        display: inline-block;
        margin-top: 1rem;
        
        a {
            text-decoration: none;

            // hover
            &:hover, &:focus, &:active {
                text-decoration: underline;

            }
        }
    }

    .cookie-btn:first-child {
        flex: 0 0 100%;
        margin-top: 0;

        @media screen and ($bp-lg) {
            display: flex;
            justify-content: center;
        }
    }
}


// Cookies Settings
// ------------------------------------------------------
.cookies-settings {
    background-color: #444;
    color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
    will-change: max-height;

    > .container {
        padding-top: 3rem;
        padding-bottom: 3rem;

    }
}
.cookies-settings--active {
    max-height: 30rem;

}


// Toggles
.cookies-settings__toggles {
    margin-bottom: 2rem;

    @media screen and ($bp-md) {
        align-items: center;
        display: flex;

    }

    @media screen and ($bp-lg) {
        margin-bottom: 0;

    }
}

.cookie-toggle {
    margin-right: 4rem;

    & + & {
        margin-top: 2rem;

        @media screen and ($bp-md) {
            margin-top: 0;

        }
    }
}

.cookie-checkbox {
    align-items: center;
    display: flex;

    // Checkbox
    input[type=checkbox] {
        @include visually-hidden();

        &:checked + label:before {
            background-color: #CCC;
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 33 27' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.032 26.447L.575 14.504l3.72-3.567 7.664 7.988L28.65.829l3.79 3.495z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 14px 14px;
            border-color: #CCC;

        }
    }

    input[type=checkbox]:disabled:checked + label {
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
            text-decoration: none;
    
        }
    }
}
.cookie-checkbox__label {
    cursor: pointer;
    align-items: center;
    display: flex;
    @include font-size( 12,18 );

    &:before {
        border: 1px solid currentColor;
        border-radius: 4px;
        content: '';
        display: inline-block;
        height: 20px;
        margin-right: 1rem;
        width: 20px;

    }

    &:hover {
        text-decoration: underline;

    }
}

.cookie-checkbox__title {
    position: relative;
    top: 1px;

}


// Save button
.cookie-save {
    background-color: #CCC;
    border: 0;
    color: #000;
    cursor: pointer;
    align-items: center;
    display: flex;
    @include font-size( 12,18 );
    font-weight: 800;
    padding: 10px 20px;
    white-space: nowrap;
    width: auto;

    @media screen and ($bp-lg) {
        margin: 0 auto;    
    }
    
    &:hover, &:focus, &:active {
        text-decoration: underline;

    }
}