// Colours
// ----------------------------
$default: #111;


// Fonts
// ----------------------------
$base-font-size:    14;
$base-line-height:  22;

// Families
$font: "Open Sans", Helvetica, Arial, sans-serif;


// Breakpoints
// ----------------------------
$bp-sm: "min-width: 480px";
    $bp-sm-max: "max-width: 479px";

$bp-md: "min-width: 700px";
    $bp-md-max: "max-width: 699px";

$bp-lg: "min-width: 1000px";
    $bp-lg-max: "max-width: 999px";

$bp-xl: "min-width: 1300px";
    $bp-xl: "min-width: 1299px";

$bp-max: "min-width: 1600px";
