@use "settings" as *;

.video {
    display: block;
    opacity: 0;
    overflow: auto;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 12;

    @media screen and ($bp-lg) {
        padding: 10rem;
    }
    
    // Activate
    .oc-video & {
        opacity: 1;
        pointer-events: all;
        transition: opacity .25s ease-in;
        visibility: visible;
    }
}

.video__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;

    @media screen and ($bp-md) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.video__close {
    background: white;
    border-radius: 50%;
    display: flex;
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    transition: opacity .15s ease;
    z-index: 1;

    @media screen and ($bp-md) {
        height: 7rem;
        width: 7rem;
        position: absolute;
        top: -9rem;
        right: 0;
    }
}

.video__player-wrap {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
    width: 100%;
}

.video__player {
    background-color: black;
    height: 0;
    padding-bottom: 56.25%;
}
