html {
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    color: $default;
    font-family: $font;
    line-height: 1;
}


// Wrapper
.wrapper {
    @include font-size();
    position: relative;
}
