@use 'sass:math';

// Font Size (REM)
// ----------------------------
@mixin font-size($size: $base-font-size, $line-height: $base-line-height, $letterspacing: false) {
    $rem-size: $size / 10;
    font-size: $rem-size + rem;
    line-height: ($line-height / 10) + rem;
    @if $letterspacing {
        letter-spacing: ($letterspacing / $size) + em;
    }
}


// Spacing (EM)
// ----------------------------
@function em($pixels, $context: $base-font-size) {
    $val: math.div($pixels,$context);
    @return #{$val}em;
}


// Clearfix
// ----------------------------
@mixin clearfix() {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}


// Hidden
// ----------------------------
@mixin hidden() {
    display: none !important;
    visibility: hidden;
    
}


// Visually Hidden
// ----------------------------
@mixin visually-hidden() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;

    }
}