@font-face {
    font-family: "FONTNAME";
    src: url('/assets/fonts/FONTNAME.woff2') format('woff2'), url('/assets/fonts/FONTNAME.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "FONTNAME";
    src: url('/assets/fonts/FONTNAME-BOLD.woff2') format('woff2'), url('/assets/fonts/FONTNAME-BOLD.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}