@use "settings" as *;

.editor {
    
    // Editor styles




    // Images
    > p > img,
    > p > strong > img {
        height: auto !important;
        margin: 30px 0;

        &[style*="float: left"] {
            margin: 5px 20px 20px 0;
        }

        &[style*="float: right"] {
            margin: 5px 0 20px 20px;
        }
    }
    
    > figure {
        margin: 30px 0;

        &[style*="text-align: left"] {
            float: left;
            margin: 5px 20px 20px 0;
        }

        &[style*="text-align: right"] {
            float: right;
            margin: 5px 0 20px 20px;
        }

        img {
            float: none !important;
        }

        > figcaption {
            background-color: #CCCCCC;
            color: $blue;
            @include font-size(14,20);
            padding: 15px;
            text-align: left;
        }
    }


}