<div>
    
    <h1><%- settings.title %></h1>

    <h2 data-single>Example single line</h2>

    <div data-editor>
        <h2>Example Editor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet tellus eu metus hendrerit eleifend. Pellentesque eleifend neque velit, non imperdiet diam pellentesque vitae. Pellentesque et ante id enim imperdiet rhoncus. Nullam quis porttitor dui. Suspendisse tristique mattis nunc</p>
    </div>
    
</div>
