@use "settings" as *;

.accordion {}


// Item
.accordion-item {
    border-bottom: 1px solid #DDD;

    &__header {
        color: black;
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        padding: 1.5rem 0;
        width: 100%;

        svg {
            height: 2rem;
            width: 2rem;
        }

        &:hover, &:focus, &:active {
            color: red;
        }
    }
    
    &__body {
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease;
    }

    &__body-inner {
        padding-bottom: 4rem;
        opacity: 0;
        transition: opacity .5s ease;
    }

    
    // Active accordion
    &.is-active {
        .accordion-item__header {
            svg path:last-child {
                display: none;
            }
        }
        .accordion-item__body {
            max-height: none;
        }
        .accordion-item__body-inner {
            opacity: 1;
        }
    }
}
