@use "settings" as *;

.table {
    margin-top: 4rem;
    margin-bottom: 4rem;
    overflow-x: auto;
    width: 100%;

    table {
        margin-top: 0;
        min-width: 65rem;
    }

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

table {
    border: 0;
    border-spacing: 0;
    @include font-size(16,24,-0.4);
    font-weight: 400;
    margin-top: 4rem;
    width: 100%;

    th, td {
        border: none;
        padding: 2rem;
    }
}


// Head
table thead tr td,
table thead tr th,
table tr th {
    background-color: red;
    color: white;
    font-weight: 400;
    @include font-size(14,20);
    font-weight: 700;
    text-align: left;
    vertical-align: top;
}


// Body
table tbody {
    tr:nth-child(even) td {
        background-color: #DDD;
        color: $default;
    }
}
